
.toolbar-background{
    background-color: #DDDC00;
    
  }

  .title{
    text-align: center;
    font-size: 18pt;
    color:  #000000;
}




.button1{
    font-size: 14pt;
    font-weight: bold;
    text-transform: capitalize;
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    
}



.large_button{
   
    line-height: 1.5;
    width: 48%;
    height: 130px;
    background-color:  #106982;
    font-weight: 700;
    font-size: 14pt;
}

.text{
    font-size: 14pt;
}


.footer{
    display:flex;
    justify-content: center;
}

